@import url("./reset.css");
@import url("../icons/style.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --black: #000;
  --white: #fff;
  --green: #19ba99;
  --grey: #cbd5d2;
  --bodybg: #eef3f6;
  --bgc: rgba(255, 255, 255, 0.3);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bodybg);
  margin-top: 27px;
}

main {
  width: 60%;
  max-width: 700px;
  margin: 0 auto;
}

form {
  position: relative;
  background-color: var(--green);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 19px;
}

form input {
  width: calc(100% - 34px);
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 8px 0 0 8px; /*hier geen TRBL maar linksboven, rechtsboven, rechtsonder, linksonder*/
  outline: none;
  color: var(--white);
  font-size: 16px;
  padding: 0 57px 0 23px;
  height: 68px;
}

form input::placeholder {
  color: var(--white);
  opacity: 0.6;
}

form button {
  position: absolute;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--green);
  background-color: var(--white);
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 1px solid var(--green);
  outline: none;
  top: 20px;
  right: 20px;
}
